# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# macOS
.DS_Store

# Conda
*.conda
*.ipynb_checkpoints

# Models / weights
meta_models/

# Logs
*.log
wandb/
.vscode

# VJEPA2 cloned repo (ignored since it’s huge)
vjepa2/
*.mp4

# Node / React
node_modules/
build/
dist/*.mp4
